html, body {
  background: #FFF;
  color: #333;
  font-family: Helvetica, "Lucida Grande", Arial, Georgia, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
a {
  color: #27B;
}
#site {
  margin: auto;
  width: 960px;
}

#header {
  margin: 30px 0;
  text-align: center;
}
#header h1 {
  font-size: 36px;
}
#header a, #footer a {
  color: inherit;
  text-decoration: none;
}

#main {
  margin: 10px;
}

#footer {
  margin: 30px 0;
  border-top: 1px solid #CCC;
  font-size: 13px;
}

.listing {
  margin: 5px;
  padding: 5px;
  background: #EFEFEF;
  border-radius: 5px;
}
