<h1>Welcome</h1>
<div>
  This is a basic forum application in Ruby on Rails 3 by <%= link_to 'Seth Holloway', 'http://www.sethholloway.com/' %>.
  To get started, head on over to the <%= link_to "Forums", forums_path %>
</div>

